.card_css{
    margin: 30px;
    padding: 40px;
    border-radius: 20px;
    width: 700px;
    margin-left: 200px;
}
.btn{
    margin: 20px;
}
.bg{
   padding: 15px; 
}
.text{
    text-align: center;
}
.card{
    background: #000000d0;
    color: #fff;
}